config TI_ADS1262
	tristate "Texas Instruments ADS1262 ADC driver"
	depends on SPI
	help
	  Say yes here to build support for Texs Instruments ADS1262
	  11 channel ADC with internal temperature sensor.

	  To compile this driver as a module, choose M here: the
	  module will be called ads1262.

